@charset "utf-8";
/* CSS Document */
body { line-height: 1.5em; -webkit-text-size-adjust: none; background:#fafafa;}
body, textarea, select, input { color: #444; font-family: microsoft yahei,arial,helvetica,sans-serif; font-size: 14px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ padding:0; margin:0;}
li{list-style:none; font-size:12px;}
a{ text-decoration:none; color:#444;}
img{ margin:0; padding:0; border:0;}
em{ font-style:normal;}
.left{ float:left;}
.right{ float:right;}
.clear{ padding:0; margin:0; clear:both; height:0;}
/*top*/
.top{ border-bottom:2px solid #eee; position:fixed; left:0; top:0; background:#fff; width:100%; z-index:99;}
.top-center{ height:78px; width:1200px; margin:0 auto;}
.top-center .logo{ margin:10px 0 0 0; float:left;}
.top-center .nav{ float:left; position:relative; z-index:1000; margin-left:15px;}
.top-center .nav ul li{ float:left; font-size:16px; line-height:80px;}
.top-center .nav ul li.hover{ background:#b81b22; height:82px; left:0; position:relative; top:2px; margin-top:-2px;}
.top-center .nav ul li a{ color:#323233; margin:0 4px; padding:0 14px; display:inline-block;}
.top-center .nav ul li.hover a{ color:#fff;}
.search{ float:left; margin:20px 0 0 35px;}
.search .s-bg{ background:#e8e8e8; border-radius:20px; width:236px; height:38px; position:relative;}
.search .s-bg .s-input input{ border:0; height:36px; line-height:36px; background:#e8e8e8; margin:0 0 0 16px; width:168px;}
.search .s-bg .s-btn{ border-left:2px solid #ccc; margin-top:6px; height:25px; padding-left:12px;}
.search .s-bg .s-btn input{ width:20px; height:20px; background:url(../img/search.png) no-repeat; border:0; cursor:pointer; margin:4px 12px 0 0;}
.use{ float:right; margin:30px 0 0 0; height:25px; line-height:25px;}
.unlogin{ float:left; margin:0 10px;}
.unlogin a{ margin:0 5px; font-size:12px;}
.inlogin{ float:left; margin:0 5px; height:25px; line-height:25px;}
.inlogin a{ margin:0 5px; font-size:12px;}
.top-menu{ position:relative; margin-right:6px; height:25px; line-height:25px;}
.top-menu a{ padding:0; font-size:12px; height:25px; line-height:25px;}
.top-menu p{ padding-right: 2px; overflow:hidden; display:inline-block; height:25px; line-height:29px;}
.top-menu .t{ width:0; height:0; position:absolute; top:12px; right:-2px; border-left:4px solid #fff; border-right:4px solid #fff; border-top:4px solid #bcaea3;}
.inlogin{ position:relative;}
.inlogin .cnt{ position:absolute; top:25px; left:0; background:#fff; width:120px; border:1px solid #eee;}
.inlogin .cnt ul li{ position:relative; font-size:12px;}
.inlogin .cnt ul li:hover{ background:#eee;}
.inlogin .cnt ul li:hover a{ color:#b81b22;}
.inlogin .cnt ul li a{ line-height:30px; padding-left:20px; display:block;}
.inlogin .cnt ul li em{ position:absolute; right:10px; top:4px; font-style:normal; color:#bbb;}
.s-a{ float:left; margin-left:7px; font-size:12px; float:left;}
.s-a span{ width:16px; height:16px; display:inline-block; position:relative; top:-1px; margin-left:4px; vertical-align:middle;}
.s-buy span{ background:url(../img/buy.png) no-repeat;}
.s-store span{ background:url(../img/location.png) no-repeat;}
.s-dwon span{ background:url(../img/download.png) no-repeat;}
.s-a a{vertical-align:middle;}
.s-buy a label{ color:#b81b22;}
/*main*/
.Full-screen{ width:100%;}
.main{ width:1100px; margin:0 auto;}
.bannar{ margin:20px 0; height:285px; width:1100px;}
.Modular{ width:100%;}
.Modular .left{ float:left; width:824px;}
.M1{ padding:10px 15px; background:#fff; margin-bottom:10px;}
.hot-h2{ position:relative; border-bottom:1px solid #eee; height:32px; line-height:32px;}
.hot-h2 h2 p{ float:left; font-size:18px; line-height:30px; font-weight:normal;}
.more{ position:absolute; right:0; top:0;}
.more a{ color:#666; font-weight:normal; font-size:12px;}
.hot-list{ margin-top:20px;}
.hot-list ul li{ width:380px; float:left; margin:0 16px 30px 0;}
.hot-list ul li .book{ float:left;}
.hot-list ul li .book a img{box-shadow: 0 1px 10px #b0b0b0; width:86px; height:122px;}
.hot-list ul li .info{ margin:0 0 0 110px;}
.hot-list ul li .info .tittle{ font-size:16px; height:22px; overflow:hidden; display:block;}
.hot-list ul li .info .author{ color:#999; font-size:12px; height:24px; overflow:hidden;}
.hot-list ul li .info .desc{ line-height:18px; padding:2px 0; height:36px; overflow:hidden;}
.hot-list ul li .info .li-btn{ margin-top:3px; color:#fff;border:1px solid #e34f51; background: #ef6668; display:block; line-height:30px; width:60px; border-radius: 3px; cursor:pointer; height:30px; text-align:center; padding:0 15px; font-size:14px;}
.discount-list{ margin-top:20px; position:relative;}
.discount-list ul li{ width:138px; float:left; margin:0 10px 20px 30px;}
.discount-list ul li .book{padding-bottom:8px; text-align:center; position:relative;}
.discount-list ul li .book i img{ position:absolute; /*left:24px; */top:0; width:40px;}
.discount-list ul li .book a img{box-shadow: 0 1px 10px #b0b0b0; width:125px; height:146px;}
.discount-list ul li .book a.tittle{ font-size:14px; line-height:20px; display:inline-block; margin-top:10px; word-break:break-all; word-wrap:break-word; height:20px; overflow:hidden;}
.discount-list ul li .info{ position:relative;}
.discount-list ul li .info .price{ color:#ed595d; font-size:14px; text-align:center;}
.discount-list ul li .info .price span{ color:#ccc; text-decoration:line-through; padding-left:5px;}
.dis-l{ position:absolute; left:0; top:70px;}
.dis-r{ position:absolute; right:0; top:70px;}

.special-book{ width:235px;}
.special-list ul li{float:left; padding:16px 0; border-bottom:1px dotted #eee;}
.special-list ul li .book{ float:left;}
.special-list ul li .book a img{ width:140px; height:76px;}
.special-list ul li .info{ margin:0 0 0 150px;}
.special-list ul li .info .tittle{ font-size:16px; height:22px; overflow:hidden; display:block;}
.special-list ul li .info .author{ color:#999; font-size:12px; height:24px; overflow:hidden;}
.special-list ul li .info .author img{ width:14px;vertical-align:middle; margin-top:-3px; margin-right:3px;}
.special-list ul li .info .desc{ line-height:20px; padding:3px 0; height:36px; overflow:hidden;}
.Coupon a img{ width:95%; padding:20px 0;}
.foot{ background:#3c3c3c; width:100%; height:100px; padding:20px 0;}
.foot-list{ width:1100px; margin:0 auto; text-align:center;}
.foot-ul{ color:#fff; height:30px; line-height:30px;}
.foot-ul span{ display:inline-block; margin:0 10px; font-size:12px;}
.foot-ul a{ display:inline-block; margin:0 5px; color:#fff; text-align:center; font-size:12px;}

/*我的订单*/
.titleNav{ padding:10px 0 20px; color:#666;}
.perTable{ border:1px solid #eee; border-bottom:none; margin-top:20px; width:100%;}
.perTable tr th{ background:#f8f8f8; height:42px; line-height:42px; border-bottom:1px solid #eee; color:#666; font-weight:normal; padding:0 5px;}
.perTable tr td{ text-align:center; border-bottom:1px solid #eee; padding:10px;}
.perTable tr td.operation .btn_red_01{ width:66px; height:28px; line-height:28px; color:#fff; background:#ef6668; display:block; border-radius: 5px; margin: 0 auto;}
.perTable tr td.operation .slink{ color:#999; display:block; padding-top:2px; font-size:12px;}
.perTable tr td.operation a{ color:#ef6668;}
.perTable tr td.date{ color:#999;}

.pages{ clear:both; padding:20px 0; text-align:center;}
.pages a{ border:1px solid #eee; color:#999; width:26px; font-size:12px; background:#fff; line-height:34px;}
.pages a, .pages strong{ display:inline-block; height:32px; line-height:32px; margin:0 0 0 -1px !important; padding:3px 6px;}
.pages .icon-disable1{ background:#eee; cursor:text;}
.pages .prev{ padding-left:15px; position:relative; width:69px;}
.pages strong{ background-color:#b81b22; border:1px solid #b81b22; color:#fff; font-weight:400; height:33px; line-height:34px; width:26px; font-size:12px; padding-top:2px;}
.pages i{ display:inline-block; height:40px; line-height:34px; width:40px;}
.go_page{ color:#999; margin-left:25px;}
.pages input.g_ipt{vertical-align: middle; height: 30px; margin: 0 6px;color: #999; width: 30px;}
.pages input.p_go{ margin-left:4px; height:32px; line-height:32px; border:0; color:#fff; position:relative; top:2px; cursor:pointer; width:40px;background: #b81b22;}
.pages .next{ padding-right:15px; width:69px;}
.second-menu ul li{ float:left; padding-right:10px;}
.second-menu ul li a{ padding:5px 10px;}
.second-menu ul li a.hover,.second-menu ul li a:hover{background:#b81b22; color:#fff;}

.Recommend-book .hot-h2{ border-bottom:none;}
.Recommend-list{ margin-top:20px; position:relative;}
.Recommend-list ul li{ width:155px; float:left; margin:0 10px 20px;}
.Recommend-list ul li .book{padding-bottom:8px; text-align:center; position:relative;}
.Recommend-list ul li .book a img{box-shadow: 0 1px 10px #b0b0b0; width:146px; height:146px;}
.Recommend-list ul li .book a.tittle{ width:110px; font-size:14px; line-height:20px; display:inline-block; margin-top:10px; word-break:break-all; word-wrap:break-word; height:40px; text-align:left;}
.Recommend-list ul li .info{ position:relative;}
.Recommend-list ul li .info .price{ color:#ed595d; font-size:14px; text-align:left; width:110px; margin:auto;}
.Recommend-list ul li .info .author{ display:block; /*width:110px;*/ color:#999; font-size:12px; height:24px; overflow:hidden; margin:auto;}

/*付款*/
.Pay{ border:1px solid #eee; margin:0 0 20px 0; padding:38px 48px; background:#fff; overflow:auto;}
.payconf{ border-bottom:1px dotted #eaeaea; overflow:auto; margin-bottom:8px;}
.payconf .coninfo, .payconf1 .coninfo{ float:left; font-size:20px;}
.payconf .coninfo .dh{ font-style:normal; color:#b81b22;}
.payconf .coninfo .tip1{ color:#999; font-size:12px; padding:8px 0 25px 0;}
.payconf .price{ float:right; padding-top:10px; font-size:16px;}
.payconf .price i{ color:#b81b22; font-size:24px; font-style:normal; margin-left:6px; margin-right:6px;}
.Pay h4 i{ font-style: normal; font-size:12px; color:#999; font-weight:normal;}
.pay-ul li{ padding-top:20px; float:left; padding-right:40px;}
.pay-ul li span{ display:inline-block; float:left; padding:12px 15px 0 0;}
input[type="radio"]{ margin-right:3px; vertical-align:-2px;}
.pay-ul li a img{ border:1px solid #eee;}
.Pay .btnb{ padding-bottom:10px;}
.btn_red_l{ float:right; background:#b81b22; color:#fff; font-size:18px; height:44px; line-height:44px; text-align:center; display:block; width:134px; border-radius: 5px;}
.btn_red_n{ float:right; background:#aaaaaa; color:#fff; font-size:18px; height:44px; line-height:44px; text-align:center; display:block; width:134px; border-radius: 5px;}

/*购物车*/
.M1 h1{ height:50px; line-height:50px; font-size:22px; font-weight:600;}
.gwc_box{ padding:0 0 80px 0;}
.g_table{ width:100%; border:1px solid #eee; border-bottom:none; background:#fff;}
.g_table .tbg{ background:#f9f9f9; color:#999;}
.g_table td{ padding:10px 0; border-bottom:1px solid #eee;}
.g_table .tbg td{ padding:12px 0;}
.cl01{ width:100px;}
.g_chkbx{ margin:0 0 0 20px;}
.bif a.img{ float:left; line-height:0;}
.bif a.img img{ width:68px; height:68px;}
.bif .info{ margin-left:13px; float:left; padding:4px 0;}
.bif .info h4{ margin:0; padding:0 0 4px 0;}
.bif .info h4 a{ color:#666; font-weight:normal; display:block;}
.bif .info .author{ font-size:12px; color:#999;}
.cl03{ width:100px; text-align:center;}
.cl04{ width:80px; text-align:center;}
.cl05{ width:80px; text-align:center;}
.quantity_form a.decrement{ margin-right:5px;}
.quantity_form a{ background:#fff; color:#999; border:1px solid #ddd; display:block; float:left; height:13px; margin-top:3px; overflow:hidden; text-align:center; width:13px; line-height:13px;}
.quantity_form .quantity_text{ border:1px solid #ddd; font-size:12px; float:left; height:18px; overflow:hidden; padding-top:2px; text-align:center; width:34px; background:#fff; margin-right:5px;}
.g_tbox{ background:#f9f9f9; color:#666; padding:20px; border:1px solid #eee; border-top:none; overflow:auto; margin-bottom:20px;}
.g_chkbx label{ display:inline; line-height:20px; margin:0 20px 0 5px; width:auto;}
.g_tbox .total{ margin-right:5px; line-height:30px;}
.total{ text-align:center; color:#878787; font-weight:normal; position:relative; top:0; float:right;}
.g_tbox .total .price{ font-size:20px; font-style:normal; color:#b81b22; margin-left:10px;}

/*分类*/
.bk-left{ float:left; width:239px; margin:10px 10px 10px 0;}
.M2{ padding:10px 15px; background:#fff; margin-bottom:10px; float:left; width:821px; min-height:510px;}
.category-content{ position:relative; width:239px; float:left; z-index:113;}
.category-content span{ display:block; height:42px; padding:0; text-align:center; font-size:16px; color:#b81b22; border:1px solid #b81b22;}
.category{z-index:113; width:237px; border:1px solid #eee; background:#f8f8f8;}
.category-list li{ margin-top:0; height:42px; z-index:113; border-bottom:1px dotted #eaeaea;}
.category-list li:hover,.category-list li.hover{ border:1px solid #b81b22; background:#fff;}
.category-list li:hover a,.category-list li.hover a{ color:#b81b22;}
.category-info{ position:relative; height:42px; padding-left:22px;}
.category-info h2{ padding-top:8px; font-size:15px; font-weight:100; overflow:hidden; position:relative;}
.category-info a{ margin-left:50px; color:#666; font-size:15px; font-weight:100;}
.category-info em{ position:absolute; top:12px; right:10px; width:13px; height:13px; font:12px/18px "宋体"; color:#9b9b9b;}
.table-1{ width:100%; border:1px solid #eee; font-size:12px; color:#666;}
.table-1 thead td{ border-bottom:1px solid #eee;}
.table-1 td{ padding-left:32px; line-height:40px; border-bottom:1px dotted #eee;}
.table-1 .fl-left{ float:left;}
.table-1 .fl-t .sep{ margin: 0 8px;}
.table-1 .fl-left1{ float:left; padding-right:6px;}
.select dl{ position:relative; line-height:24px;}
.table-1 .td1{ width:82px; border-right:1px solid #eee; background:#f8f8f8;}
.select .select-list{ border-bottom:1px dotted #eee; padding-left:5px;}
.select dl.select-p{ margin:6px 0;}
.select dd{ float:left; display:inline;}
.select a{ display:inline-block; white-space:nowrap; height:24px; text-decoration:none; color:#666;}
.select-list a{ padding:0 10px;}
.show-switch{ border:1px solid #eee; margin:16px 0; height:40px; line-height:40px; background:#f8f8f8;}
.show-switch .sort-item{ width:66px; padding-left:26px; display:inline-block; border-right:1px solid #eee; position:relative;}
.sort-item em{ font-style:normal;}
.show-switch .sort-item em.curr1 span{ color:#b81b22;}
.show-switch .sort-hover b{ width:10px; height:15px; display:inline-block; position:absolute; left:60px; top:14px;}
.show-switch .sort-item em span{ color:#444;}
.show-switch .free-b{ margin-left:20px; color:#b81b22;}
.free-b input{ margin-right:5px; vertical-align:-2px;}
.Recommend-list-1 ul li{ margin:0 3px 20px;}
.fl-main .sort-hover .curr1 b{ background:url(../img/t-4.png) no-repeat;}
.show-switch .sort-item b{ background:url(../img/t-3.png) no-repeat;}
.fl-main .sort-hover .curr2 b{ background:url(../img/t-2.png) no-repeat;}
.fl-main .sort-hover .curr3 b{ background:url(../img/t-1.png) no-repeat;}
.fl-main .sort-hover .curr4 b{ background:url(../img/t-3.png) no-repeat;}
/*图书详情*/
.blist-info{ margin-top:10px;}
.cover-book{ float:left; width:300px; text-align:center;}
.cover-book img{ width:200px; /*height:254px;*/}
.con-book{ margin-left:310px; width:606px;}
.con-book h1, .con-book h2{ font-size:28px; line-height:40px; font-weight:normal;}
.b-org .b-label{ color:#999; width:80px; font-size:14px;}
.b-org .b-label span{ font-weight:normal; margin-right:28px;}
.b-org .b-org-li{ line-height:30px;}
.b-org .b-org-li a{ font-size:14px;}
.b-org .b-org-li a i{ font-size:28px; font-style:normal;}
.choose-btns{ margin-top:10px;}
.wrap-input{ position:relative; border:1px solid #ccc; width:60px; height:34px; float:left;}
.wrap-input .btn-add{ top:-1px; right:-1px;}
.wrap-input .btn-reduce{ bottom:-1px; right:-1px;}
.wrap-input a{ position:absolute; background:#f1f1f1; border:1px solid #ccc; height:17px; line-height:15px; width:15px; text-align:center; color:#666;}
.wrap-input .buy-num{ height:32px; line-height:32px; width:40px; border:0; text-align:center;}
.btn-append{ float:left; margin-left:20px; height:35px; line-height:32px; background:#e2393c; color:#fff; padding:0 20px; border-radius:3px; font-weight:bold;}
.j-main .ic-info{ margin-top:10px; position:relative; left:-6px; height:32px;}
.j-main .ic-info li{ float:left; padding:0 10px;}
.share-1{ padding-bottom:10px;}
.j-main .ic-03{font-size: 14px;}
.j-main .ic-02 b{ width:14px; height:14px;display:inline-block; position:relative; left:-5px; top:2px; background:url(../img/share.png) no-repeat;}
.j-main .ic-03 .sc{ width:14px; height:14px; display:inline-block; position:relative; left:-5px; top:2px; background:url(../img/sc.png) no-repeat;}
.j-main .ic-03 .sc-1{ width:14px; height:14px; display:inline-block; position:relative; left:-5px; top:2px; background:url(../img/sc-1.png) no-repeat;}
.book-select{ margin-top:20px;}
.bs-ul{ margin-top:40px; border-bottom:2px solid #eee;}
.bs-ul li{ float:left; text-align:center; line-height:36px; height:36px; width:102px; font-size:16px;}
.bs-ul .on b{ border-bottom:2px solid #ee595b; position:relative; display:block;}
.f-ul li{ float:left; width:47%; line-height:38px; padding-left:20px; font-size:14px; display:inline-flex;}
.f-ul .bitips{ color:#999; margin-right:4px;}
.f-ul .bitips span{ margin-left:27px; font-weight:normal;}
.f-ul .bitips span{ margin-left:27px; font-weight:normal;}
.f-info p{ text-indent:2em; line-height:24px; color:#666;}
.f-info img{ width:100%; padding:10px 0;}
.comments-table{ margin-top:10px; width:100%; overflow:visible;}
.mt .mt-inner{ border:1px solid #f5f5f5; background:#fafafa; position:relative; height:30px; line-height:30px; margin-top:4px; overflow:visible;}
.mt .mt-inner ul{ float:left; height:31px; margin-bottom:-1px;}
.mt .mt-inner ul li{ float:left; height:30px;}
.mt .mt-inner ul li.curr a{ color:#e4393c; font-weight:700; border:none;}
.mt .mt-inner ul li a{ font-size:12px; padding:0 20px;}
.com-table-main{ width:100%;}
.comments-item{ padding:20px 30px 18px; border-bottom:1px solid #ddd;}
.comments-item .column{ float:left;}
.comments-item .column1{ width:150px; padding-left:30px;}
.comments-item .column1 .g-star{ width:85px; height:22px; background:url(../img/commentsListIcons1.png) no-repeat;}
.comments-item .column1 .g-star1{ background-position:-17px 0;}
.comments-item .column1 .g-star2{ background-position:-34px 0;}
.comments-item .column1 .g-star3{ background-position:-51px 0;}
.comments-item .column1 .g-star4{ background-position:-68px 0;}
.comments-item .column2{ width:828px;}
.comments-item .column2 .p-comment{ padding-right:30px; margin-bottom:10px; word-warp:break-word;}
.root61 .comments-item .column2 .p-show-img{ width:530px; max-height:none; overflow:visible;}
.comments-item .column2 .p-show-img li{ float:left; padding-right:10px; padding-bottom:10px;}
.comments-item .column2 .p-show-img li div{ display:table-cell; width:76px; height:76px; border:1px solid #999; font-size:66px; text-align:center; vertical-align:middle;}
.comments-item .column2 .p-show-img li div img{ vertical-align:middle;}

/*福利中心*/
.quan-list{ display:block; width:100%; padding:10px 0;}
.quan-item{ width:274px; float:left; margin:2px 15px 15px 0; position:relative; height:170px; padding-right:65px; border:1px solid #f1f1f1; background:#fff;}
.quan-item .q-type{ padding-left:25px; padding:25px 0 20px 15px;}
.quan-item .q-price{ color:#fa9899; display:block; margin-bottom:10px;}
.quan-item .q-price em{ float:left; margin:5px 0 0; font-size:24px; font-family:Verdana;}
.quan-item .q-price strong{ float:left; line-height:50px; margin:0 10px 0 5px; font-size:50px;}
.quan-item .q-price .txt{ float:left; line-height:22px;}
.ftx{ color:#666;}
.quan-item .q-range{ line-height:22px; color:#999;}
.quan-item .q-range .range-item p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  width:200px; cursor:default;}
.quan-item .q-opbtns{ padding-left:36px; padding-right:24px; position:absolute; top:0; right:0; width:20px; height:133px; padding:37px 22px 0 30px; line-height:24px; color:#fff; font-size:14px; background:url(../img/semi-circle.png) repeat-y #fa9899;}
.quan-item .q-opbtns a{ display:block; width:100%; height:100%; color:#fff;}
.quan-item .q-opbtns .semi-circle{ display:block; position:absolute; left:0; top:0; width:3px; height:170px;}
.quan-gray-item .q-opbtns{ background:url(../img/semi-circle.png) repeat-y #c3c3c3;}
.quan-gray-item .q-price{ color:#c3c3c3;}
.quan-item .btn-getend{ right:90px;width:69px; height:69px; line-height:69em; overflow:hidden; bottom:5px; position:absolute; background:url(../img/quan-state.png) no-repeat; background-position:0 -79px; }
.quan-item .btn-finish{right:90px;width:69px;height:69px;line-height:69em;overflow:hidden;bottom:5px;position:absolute;background:url(../img/quan-state.png) no-repeat;background-position: 0 -237px;}

/*专题*/
.wrapper .topic-title{ font-size:18px; font-weight:700; color:#666; height:30px; line-height:30px;}
.topic-desc{ font-size:14px; color:#666; line-height:25px; padding-top:5px;}
.product-list{ position:relative; margin-bottom:45px;}
.product-list .product-item{ padding:32px 0; border-bottom:1px solid #f8f8f8;}
.product-item .p-title{ font-size:16px; color:#393939; height:16px; line-height:18px; border-left:4px solid #ffb000; padding-left:8px; margin-left:4px; margin-bottom:20px;}
.product-item .desc{ font-size:14px; color:#666; line-height:24px; padding-top:10px;}
.product-item .left{ width:20%; text-align:center;}
.product-item .right{ width:80%;}
.pc-info-b{ position:relative; height:28px; margin-top:40px; width:50%; padding:10px 0; background:#f8f8f8;}
.pc-info-b .pc-like-area{ float:left; width:33%; height:28px; line-height:28px; border-right:1px solid #e9e9e9; font-size:13px; color:#666; text-align:center; cursor:pointer;}
.pc-info-b .pc-like-area .ico-like{ font-size:18px; position:relative; top:2px; padding-right:5px; background:url(../img/sc-1.png) no-repeat; display:inline-block; height:12px; width:12px;}
.pc-info-b .no-border{ border-right:none;}
.pc-price{ color:#b81b22; font-size:18px;}

/*收藏*/
.titList{ border:1px solid #eee; width:100%;}
.titList .pname{ width:100%; height:52px; line-height:52px; font-size:18px; color:#999; border-bottom:1px solid #eee; text-align:center; background:#fff;}
.titList_ul{ position:relative; top:-1px; background:#fff;}
.titList_ul li a{ height:42px; line-height:42px; border-top:1px dotted #eee; color:#666; font-size:15px; text-align:center; display:block;}
.titList_ul li.selected a{ background:#f8f8f8; color:#b81b22; border-left:4px solid #b81b22; margin-left:-1px;}
.Recommend-list-2 ul li{ width:47%;}
.Recommend-list-2 .book{ float:left; padding-right:15px;}
.Recommend-list-2 .info{ float:left}
.Recommend-list-2 ul li .info .author{ margin:0;}
.Recommend-list-2 ul li .info .price{ margin:0;}
.Recommend-list-2 .info a.tittle{ font-size:14px; height:40px; line-height:20px; display:block;}
.info-c{ padding-top:20px;}
.info-c .btn_red{ float:left; width:90px; height:29px; line-height:29px; display:inline-block; text-align:center; border-radius:5px; color:#fff; background: #ef6668; margin: 0 auto;}
.info-c .qx{ color:#999; font-size:12px; line-height:28px; margin-left:15px;}
.photo-input{ position:absolute; cursor:pointer; opacity:0;}
.btn_blue{ width:175px;  height:45px;  display:block; margin-bottom:10px; background:url(../img/sc-btn.jpg) no-repeat;}
.item{ margin-bottom:10px;}
.item span.label{ float:left; height:18px; line-height:18px; padding:6px 0; width:120px; text-align:right;}
.item em{ color:#e4593c;}
.itxt{ height:18px; width:127px; padding:5px 23px 5px 5px;}
.item .area, .item .itxt, .item .sele, .item .selt{ line-height:18px; border:1px solid #ccc; float:none; font-size:12px;}
.ftx{ color:#999;}
.jdradio{ float:none; vertical-align:-2px; margin:0 3px 0 0; padding:0;}
.m_p p{ line-height:30px; padding:0 5px;}
.pay-ul-1 li{ float:left; width:25%; margin-bottom:20px;}
.pay-ul-1 .info-c{ padding-top:0;}
.pay-ul-1 .left{ margin-right:10px;}
.pay-ul-1 .info-c .btn_red{ width:70px; height:25px; line-height:25px;}



/*注册*/
.reg-detail{ padding:52px 97px 38px 97px; background-color:#fff;}
.reg-title{ font-size:28px; color:#000;}
.box-shadow-in{ padding-bottom:30px; border-bottom:1px solid #e0e0e0; text-align:center;}
.node{ margin-top:42px;}
.node-title{ font-size:14px; font-weight:bold;}
.node-intro{ color:#999; line-height:16px; margin-top:19px;}
.node-des{ margin:30px 53px 0 0;}
.node-input{ width:334px; margin-right:270px;}
.short{ width:163px;}
.short .dinput{ margin-top:0; border-radius:0; color:#333; font-size:12px; border:1px solid #c5c5c5; background-color:#fff; padding:0 15px; height:35px;}
.short .dinput input{ line-height:32px; height:32px; width:100%; border:none;}
.ddrop{ color:#333; margin-top:0; border-radius:0; padding:10px 14px; font-size:12px; position:relative; height:14px; border:1px solid #c5c5c5; background-color:#fff;}
.input-intro{ font-size:12px; color:#999; padding:10px 0; text-align:left; width:110px;}
.node .item{ margin-top:20px;}
.node .item span.label{ width:100px;}
.register{ margin-top:20px; text-align:center;}
.btn-register{ width:300px; height:50px; line-height:50px; color:#fff; text-align:center; border:none; cursor: pointer; background:#b81b22;}
.node .item a.hq{ height:30px; line-height:30px; display:inline-block; padding:0 10px; background:#ebebeb; vertical-align:-1px;}

.s-store{ position:relative;}
.dwon-ul{ position:absolute; top:28px; left:0; width:280px; border:1px solid #eee; background:#fff; padding:10px;}
.dwon-ul ul li{ float:left; padding:0 5px;}
.dwon-ul ul li a{ padding:0 5px;}
.dwon-ul ul li a.hover,.dwon-ul ul li a:hover{ background:#444; color:#fff; height:25px; line-height:25px; display:inline-block;}


/*确认订单*/
.g_tbox .total { margin-right: 32px;line-height: 30px; height:30px;}
.tal_p { padding-bottom: 20px;}
.addr { display: inline-block; vertical-align: top; position: relative; width: 237px;  margin: 0 27px 14px 0; color: #666; cursor: pointer;}
.cl06 { width: 32px; text-align: right;}
.inner{z-index: 2;position: relative;padding: 11px 15px; height:84px; overflow: hidden; background:url(../img/bg-dz-1.png) no-repeat;}
.addr-cur .inner{ background:url(../img/bg-dz.png) no-repeat;}
.addr .addr-hd { width: 100%; border-bottom: 1px solid #f2f2f2; padding: 0 0 5px; margin-bottom: 5px; line-height: 18px;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.addr .addr-hd span { display: inline-block; vertical-align: top; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.addr-cur .addr-bd { height: 38px; line-height:19px;}
.addr .addr-bd { overflow: hidden; /*word-break: break-all;*/ word-wrap: break-word;}
.addr .addr-bd span { /*margin-right: 3px;*/ /*word-break: break-all;*/ word-wrap: break-word; font-size:12px; line-height:18px;}
.addr-cur.suggest-address .addr4tip { display: inline-block; color: #dd2727;}
.order-address .addr { color: #666; cursor: pointer;}
.modify{ cursor:pointer; font-size:12px; color:#b81b22;}
.curMarker { z-index: 3; display:block; position: absolute; background:url(../img/check-ico.png) no-repeat; width: 28px; height: 28px; top: 77px; right: 1px; visibility:visible;}
.coupon-scroll{ overflow:hidden; background: #fbfbfb;border-left: 1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #eee;padding: 20px 42px 20px 32px;}
.coupon-scroll h3{ font-size:16px; font-weight:100; padding-bottom:10px;}
.coupon-scroll .coupon-enable { display: block; width: 920px; margin-bottom: 5px;}
.coupon-scroll li { display: inline;}
.coupon-scroll .coupon-item { height: 105px; width: 201px; float: left; margin-right: 26px; margin-bottom: 15px; padding: 1px;}
.coupon-scroll .coupon-item .item-selected { border: 2px solid #b81b22;  background-image:url(../img/check-ico.png); background-repeat: no-repeat; background-position: bottom right;}
.coupon-item .item-selected .c-dong,.coupon-item .item-selected .c-type-dong{ border:none;}
.c-dong { border-left: 1px solid #f99898; border-right: 1px solid #f99898; background-color: #f99898;}
.c-msg { cursor: pointer; height: 70px; width: 100%;}
.c-top-dong { height: 3px; width: 100%; background: #fff url(../img/virtual-spite.png) -36px -9px no-repeat;}
.c-price { color:#fff; display:inline; position:relative; top:8px; margin-left:20px;}
.c-limit{ color:#f5f5f5; font-size:12px; display:inline; position:relative; top:7px;}
.c-time-dong { color: #f9cece; padding-left:20px; margin-top:10px;}
.c-type-dong { color: #f99898; border: 1px solid #f9cece; height:25px; width:100%; padding-top:5px;}
span.c-type-l {margin: 0 10px;}
span.c-type-r { margin: 0;}
.coupon-scroll .hr { border-bottom-color: #f5f5f5; margin-right: 30px;border-bottom: 1px solid #e6e6e6;height: 0;margin-bottom: 10px;}
.c-price { color: #fff; font-size:24px;}
.hide { display: none;}
.c-detail-disable .c-msg { cursor: not-allowed; height: 70px; width: 100%; border-left: 1px solid #d1d1d1;  border-right: 1px solid #d1d1d1; background-color: #d1d1d1;}
.c-detail-disable .c-type { height: 25px; width: 100%; padding-top: 5px; color: #d1d1d1; border: 1px solid #e8e8e8;}
.c-detail-disable .c-top { height: 3px; width: 100%; background: #fff url(../img/virtual-spite.png) -36px -3px no-repeat;}
.c-detail-disable .c-msg .c-time { padding-left: 20px; margin-top: 10px; color: #b0afaf;}
.c-info { height: 40px; width: 210px; color: #999;}
.c-info .c-info-qmark { display: inline-block; float: left; height: 13px;  padding: 0 0 0 14px;  margin-top: 3px;  margin-right: 3px; vertical-align: middle; background:url(../img/qmark03.png) no-repeat;}


/* 下载 */
.QR-hd,.QR-mid,.QR-ft,.QR-arrow,.QR-tt p{background-image:url(../img/error_bg1.png); _background-image:url(../img/error_bg_ie6.png);}
#QR-code{position: absolute; width:340px; top:35px; left:100px; margin-left: -215px; text-align: left; z-index: 1000; display: none; border:1px solide #e3e3e3;}/*2016-1-11*/
#QR-code.QR_Alert-show{display:none; -webkit-animation: shake 0.6s ease-in-out 0.3s; -moz-animation: shake 0.6s ease-in-out 0.3s; -o-animation: shake 0.6s ease-in-out 0.3s; animation: shake 0.6s ease-in-out 0.3s;}
#QR-code .QR-hd,#QR-Alert .QR-ft{overflow: hidden; font-size: 0; line-height: 0;}
#QR-code .QR-hd{height: 8px; background-position: -10px 0; background-repeat: no-repeat;}
#QR-code .QR-ft{height: 10px; background-position: -10px -8px; background-repeat: no-repeat;}
#QR-code .QR-mid{padding:10px; background:#fbfbfb;}
#QR-code .QR-arrow{position: absolute; top:-6px; right:50%; width: 19px; height: 12px; background-position: 0 -16px; background-repeat: no-repeat;}
#QR-code .QR-tt p{padding: 10px 20px 8px 60px; color: #434343; line-height: 22px; font-weight: bold; font-size: 16px; background:url(../img/OK.png) 20px 9px; background-repeat: no-repeat;}

#QR-Mask{position:absolute; top:0; left: 0;width: 100%; height: 600px; background: #000; opacity: 0.2; filter:alpha(opacity=20); z-index: 1;}
.QR-tt .fl{ padding-right:10px; float:left;}
.QR-tt .fl img{ width:130px; height:130px; padding-top:5px;}
.QR-tt .fr{ width:173px; float:right;}
.QR-tt .fr ul li{ line-height:20px; margin:5px 0 0;}
.QR-tt .fr ul li.apple{ width:173px; height:49px; background:url(../img/button-down.png) no-repeat -10px 0;}
.QR-tt .fr ul li.apple a{ width:173px; height:49px; display:inline-block;}
.QR-tt .fr ul li.Android{width:173px; height:49px; background:url(../img/button-down.png) no-repeat -10px -51px;}
.QR-tt .fr ul li.Android a{width:173px; height:49px; display:inline-block;}