/*新增收获地址*/
.M1 h3{height:30px;}
.M1 .control{min-height:40px;}
.M1 .control .manageAddr{float: right;color: #c97;cursor: pointer;}
.M1 .control .addAddr{display: inline-block;vertical-align: middle;padding: 0 10px;overflow: hidden;border: 1px solid #ccc;border-width: 0 1px;border-radius: 2px;cursor: pointer;color: #333;height: 25px;line-height: 25px;font-weight: 700;text-decoration: none;background: url(../img/TB1kidkL.png) 0 -380px repeat-x #f2f2fe;}

/* 选项卡*/
.table_card.table_carda{color:#111111;text-decoration:none;-webkit-transition:color 0.2s linear;-moz-transition:color 0.2s linear;-o-transition:color 0.2s linear;transition:color 0.2s linear}
.table_card a:focus , a:link, a:active{outline:none}
.table_card a:hover{color:#F30}
.table_card ol, ul, li{list-style: none}
.table_card{width:100%;margin:0 auto;margin-top: 20px}
.table_card .tab{height:37px;font-size:14px;border-bottom:1px #e1e1e1 solid}
.table_card .tab li{float:left;height:36px;line-height:36px;padding:0 13px;margin-right:6px;background:#f0f0f0;border-top:1px #e1e1e1 solid;border-left:1px #e1e1e1 solid;border-right:1px #e1e1e1 solid;}
.table_card .tab li:last-child{margin-left: 5px;}
.table_card .tab li:hover{height:37px;background:#fff;color:#333;cursor:pointer}
.table_card .activ{height:37px !important;background:#fff !important;color:#333}
.table_card .tabCon{background:#fff;padding:15px;border-bottom:1px #e1e1e1 solid;border-left:1px #e1e1e1 solid;border-right:1px #e1e1e1 solid;}
.table_card .tabCon div{display:none}
.table_card .tabCon .on{display:block}
.newslist{font-size:14px;}
.newslist li{line-height:36px;}
.newslist .hover a{color:#F30;}
.newslist li .ding{color:#F30;margin-left:5px}
.newslist li .time{float:right;font-size:12px;color:#888}

/*验证码*/
.person-code-btn{margin: 0 0 0 15px; padding: 7px 10px; background: #fff; border: 1px solid #ff6280; color: #ff6280;}

/*加入购物车*/
.flyer-img{width:20px;height:20px;z-index:9999;}

/*物流信息*/
.package-detail-list{position:absolute;left:170px;background-color:#F5F5F5;border:1px solid #DDD;line-height:22px;box-shadow:2px 2px 2px #ECECEC;color:#999;display:none;cursor:default;text-align:left}
.package-detail-list .status-current{color: #C97;}
.package-detail-list ul{padding: 5px 10px;}
.package-detail-list li{color:#666;vertical-align:middle;white-space:nowrap}
.package-address{display:inline-block;zoom:1;white-space:nowrap;margin-left:10px;float:none}